<!DOCTYPE HTML>
<html>
  {{> html-header}}

  <body unresolved touch-action="auto">

    {{> site-header}}

    <div class="site-page">
      {{{body}}}
    </div>

    {{> site-footer}}

  </body>
</html>
