<head>
  <!-- META INFO -->
  <meta charset="utf-8"><!-- Set encoding -->
  <html lang="en"><!-- Set language -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"><!-- Make page show correctly on mobile -->
  <title>PAMM{{#if page.title}} - {{ page.title }}{{/if}}</title><!-- Set page title -->
  <meta name="description" content="A website for easier managment of PA mods"><!-- Set page description -->
  <meta name="robots" content="index, follow"><!-- Tell search engines to completely index page -->

  <!-- Javascript -->
  {{{include "!jquery/dist/jquery.min.js !jquery.transit/jquery.transit.js !knockoutjs/dist/knockout.debug.js prism.js main.js" "js"}}}

  <!-- CSS -->
  {{{include "header.css" "css"}}}

  <!-- Polymer -->
  {{{include "core-icon-button" "polymer"}}}

</head>
